.chat {
  //width: 70%;
  flex: 2;
  background-color: #c6c5c5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 500px) {
    flex: 1;
  }
}

.chats-info {
  height: 70px;
  background-color: rgb(57, 89, 150) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  &__name {
      color: #fff;
      font-weight: 700;
      font-size: 18px;
  }

  &__additional {
      color: #fff;
      list-style: none;
      display: flex;

            
      li {
          cursor: pointer;
      }

      li:not(:last-child) {
          margin-right: 10px;
      }
  }
}